**Football Statistics**

Click <a href = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/March/58ded462_2015-16-premier-league/2015-16-premier-league.csv'>this link</a> to download a dataset in csv format that you will use to answer the questions on this page. This data file contains a table of results of the 2015-16 Premier League season for English association football. All participating teams are represented in the dataset.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('2015-16-premier-league.csv')

In [4]:
df.head()

           Team Name  Wins  Draws  Losses
0     Leicester City    23     12       3
1            Arsenal    20     11       7
2  Tottenham Hotspur    19     13       6
3    Manchester City    19      9      10
4  Manchester United    19      9      10

What is the mean number of wins recorded by teams? (Wins can be found as the second column of the table, or first numeric value in each row.)

In [5]:
df.Wins.mean()

13.65

What is the median number of wins?

In [7]:
np.percentile(df.Wins, 50)

12.0

What is the standard deviation for the number of wins?

In [8]:
np.std(df.Wins)

4.819491674440366

What is the interquartile range for the number of wins?

In [10]:
np.percentile(df.Wins, 75) - np.percentile(df.Wins, 25)

7.5